

.input{
    height: 50px;
    width: 80%;
    border-radius: 12px;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

input{
    background: none;
    border:none;
    margin-left:12px;
    flex:1;
}
input:focus{
    outline:none;
}
button{
    margin-right: 8px;
    background-color: rgb(128, 113, 161);
    border: none;
    height: 50%;
    width: 17%;
    border-radius: 7px;
    color: white;
}