.todoItem{

display: flex;
align-items: center;
width: 90%;
background-color:white;
margin:6px -13px;
height: 40px;
border-radius:12px ;

}
.alert{
    margin-left: 29px;
    width: 290px;
    height: 40px;
}
.todoItem>p{
   width:65%
  
}
.todoItem--done{
    text-decoration:line-through;
}

.styleButton{
    padding-left: 50px;
    height: 25px;
    
}

textarea{
    border:none;
    width: 50%;
}
.delete{
margin-right: 50px;
width: 20px;
text-align: center;
}
.inputArea{
    width:254px;
}